body {
  background-color: hsl(209, 13%, 32%);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  overflow-y: scroll;
}

body,
input,
textarea,
select,
button {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
}

#root {
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

.App-greeting {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  max-width: 720px;
  text-align: center;
}
